html,
body {
  height: 100%;
}

body {
  font-family: $mainFont;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  background-color: $bg-dark;
  color: $white;
  overflow-x: hidden;

  @include adpt ($bmob-r) {
    font-size: 14px;
  }
}

.container {
  max-width: 1400px;
  margin: 0 auto;
  padding: 0 40px;

  @include adpt ($tab-r) {
    padding: 0 15px;
  }
}


.sr-only {
  position: absolute;
  width: 0px;
  height: 0px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

._accent-bg {
  background-color: rgba(255, 255, 255, 0.1);
}

.app {
  height: 100%;
  display: flex;
  flex-direction: column;

}

.main {
  padding-top: 150px;
  position: relative;
  display: grid;
  align-items: flex-start;
  width: 100%;
  grid-template-columns: 250px 1fr;
  grid-gap: 40px;
  min-width: 0;
  flex: 1;

  @include adpt ($desm-r) {
    grid-template-columns: 220px 1fr;
  }

  @include adpt ($tab-r) {
    grid-template-columns: 1fr;
  }

  @include adpt ($bmob-r) {
    padding-top: 120px;
  }

  &__inner {
    border-radius: $br-big;
    padding: 40px;
    min-width: 0;

    @include adpt ($desm-r) {
      padding: 35px;
    }

    @include adpt ($tab-r) {
      padding: 0;
      border-radius: 0;
      background-color: transparent;
    }
  }
}

.logo {
  max-width: 151px;
  width: 100%;

  &__img {
    object-fit: contain;
    width: 100%;
    height: auto;
  }
}

.btn {
  position: relative;
  text-align: center;
  cursor: pointer;
  overflow: hidden;
  cursor: pointer;
  font-size: 16px;
  font-weight: 400;
  border-radius: 8px;
  padding: 14px 20px;
  background-color: $accent;
  border: 2px solid $accent;
  line-height: 11px;
  transition: background-color 0.3s, color 0.3s, border-color 0.3s;

  &:hover {
    background-color: $accentHover;
    border-color: $accentHover;
  }

  &:active {
    background-color: transparent;
    border-color: $accent;
  }

  &_2 {
    background-color: transparent;
    border-color: $accent;

    &:hover {
      background-color: $accent;
      color: $white;
    }

    &:active {
      background-color: transparent;
    }
  }

  &_3 {
    border-color: transparent;
    background-color: transparent;

    &:hover {
      background-color: rgba(255, 255, 255, 0.1);
      border-color: transparent;
    }

    &:active {
      background-color: $accent;
      color: $white;
      border-color: $accent;
    }
  }

}

.title {
  font-weight: 500;
  font-size: 36px;
  line-height: 1.3;

  @include adpt ($desm-r) {
    font-size: 32px;
  }

  @include adpt ($tab-r) {
    font-size: 26px;
  }

  @include adpt ($stab-r) {
    font-size: 24px;
  }

  @include adpt ($bmob-r) {
    font-size: 20px;
  }
}

.burger {
  padding: 15px;
  display: flex;
  justify-content: center;
  align-items: center;
}

._fixed {
  overflow: hidden;

  &::after {
    content: "";
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 29;
    background-color: rgba(0, 0, 0, 0.5);
  }
}

.main-page {
  min-width: 0;
}