<header class="header ">
  <div class="container">

    <div class="header__inner">

      <a class="header__logo logo" href="/">
        <img class="logo__img" width="151" height="61" src="images/logo.svg" alt="logo">
      </a>

      <form class="header__search search">
        <div class="search__inner">
          <button class="search__btn">
            <svg width="24" height="24" viewBox="0 0 24 24" fill="none">
              <path
                d="M11 2C15.968 2 20 6.032 20 11C20 15.968 15.968 20 11 20C6.032 20 2 15.968 2 11C2 6.032 6.032 2 11 2ZM11 18C14.867 18 18 14.867 18 11C18 7.132 14.867 4 11 4C7.132 4 4 7.132 4 11C4 14.867 7.132 18 11 18ZM19.485 18.071L22.314 20.899L20.899 22.314L18.071 19.485L19.485 18.071Z"
                fill="#fff" />

              <clipPath>
                <rect width="24" height="24" fill="white" />
              </clipPath>
            </svg>
          </button>
          <input class="search__input" type="text" placeholder="Подкасты, авторы, эпизоды">
        </div>
      </form>

      <div class="header__right">
        <div class="header__unAuth">
          <a class="header__btn btn  btn_3" href="#">
            Войти
          </a>
          <a class="header__btn btn btn_2" href="#">
            Регистрация
          </a>
        </div>
        <div class="header__auth">

        </div>
      </div>
    </div>

  </div>
</header>