<div class="item">
  <div class="item__inner">
    <div class="item__number">
      1
    </div>
    <div class="item__img-wrap">
      <img class="item__img" src="images/image/1.jpg" alt="item-image" width="48" height="48">
      <button class="item__img-play">
        <img class="item__img-play-icon" src="images/icon/play-fill.svg" alt="play-mini-fill.svg" width="24"
          height="24">
        <!-- <img class="item__img-play-icon" src="images/icon/pause-fill.svg" alt="play-mini-fill.svg" width="24" height="24"> -->
        <!-- <img class="item__img-play-icon _anim" src="images/icon/pick-up location.svg" alt="play-mini-fill.svg" width="24" height="24"> -->

      </button>
    </div>
    <div class="item__text">
      <a class="item__episode" href="#">
        Страхи, фобии, паника, тревожность и навязчивые состояния. Ответы на вопросы слушателей.
      </a>
      <ul class="item__list">
        <li class="item__item">
          <a class="item__podcast" href="#">
            Чай с психологом
          </a>
        </li>

      </ul>

    </div>
    <button class="item__add-btn" type="button">
      <img class="item__add-btn-icon" src="images/icon/add-line.svg" alt="add-line.svg" width="22" height="22">
    </button>
    <div class="item__right">
      <div class="item__show">
        <button class="item__add-heart">
          <img class="item__add-heart-icon" src="images/icon/heart-3-line.svg" width="22" height="22" alt="to heart">
        </button>
        <button class="item__btn-more" type="button">
          <img class="item__btn-more-icon" src="images/icon/more-line.svg" alt="more-line.svg" width="22" height="22">
        </button>
        <!-- _active -->
        <div class="item__sublist-wrap">
          <ul class="item__sublist">
            <li class="item__subitem">
              <button class="item__sublink">
                <img class="item__subicon" src="images/icon/heart-3-line.svg" alt="heart-3-line.svg" width="20"
                  height="20">
                <span>Добавить в избранное</span>
              </button>
            </li>
            <li class="item__subitem">
              <button class="item__sublink">
                <img class="item__subicon" src="images/icon/add-line.svg" alt="add-line.svg" width="20" height="20">
                <span>Добавить в плейлист</span>
              </button>
            </li>
            <li class="item__subitem">
              <a class="item__sublink" href="#">
                <img class="item__subicon" src="images/icon/mic-line.svg" alt="mic-line.svg" width="20" height="20">
                <span>Перейти к автору</span>
              </a>
            </li>
            <li class="item__subitem">
              <a class="item__sublink" href="#">
                <img class="item__subicon" src="images/icon/broadcast-line.svg" alt="broadcast-line.svg" width="20"
                  height="20">
                <span>Перейти к подкасту</span>
              </a>
            </li>
          </ul>
        </div>
      </div>
      <div class="item__time">
        01:23:24
      </div>

    </div>
  </div>
</div>