<section class="main-item">

  <div class="main-item__title-wrap">
    <div class="main-item__title-left">
      <div class="main-item__title title">
        Выбор редакции
      </div>
      <div class="main-item__subtitle subtitle">
        Лучшие эпизоды за месяц
      </div>
    </div>
    <a class="main-item__title-more" href="#">
      <span>Смотреть все</span>
      <img class="main-item__title-more-icon" src="images/icon/arrow-down-s-line.svg" alt="arrow-down-s-line" width="24"
        height="24">
    </a>
  </div>

  <div class="main-item__list">
    @include('_item.html')
    @include('_item.html')
    @include('_item.html')
    @include('_item.html')
    @include('_item.html')
  </div>
  <a class="main-item__more btn btn_2" href="#">
    Смотреть все
  </a>


</section>