<section class="main-item">

  <div class="main-item__title-wrap">
    <div class="main-item__title-left">
      <div class="main-item__title title">
        @title
      </div>
      <div class="main-item__subtitle subtitle">
        @subtitle
      </div>
    </div>
    <a class="main-item__title-more" href="#">
      <span>Смотреть все</span>
      <img class="main-item__title-more-icon" src="images/icon/arrow-down-s-line.svg" alt="arrow-down-s-line" width="24"
        height="24">
    </a>
  </div>

  <div class="main-item__slider slider">

    <div class="swiper js-slider slider__slider">

      <div class="swiper-wrapper">

        <div class="swiper-slide slider__slide-wrap slider__slide-podcast">
          @include('_podcast-item.html',{
          'name': "Чай с психологом",
          'discr': 'Пью согревающий чай и общаюсь с интересными людьми на разные психологические темы. Говорю о
          страхах.'
          })
        </div>
        <div class="swiper-slide slider__slide-wrap slider__slide-podcast">
          @include('_podcast-item.html',{
          'name': "Чай с психологом и медом",
          'discr': 'Пью согревающий чай и общаюсь с интересными людьми на разные психологические темы. Говорю о
          страхах.'
          })
        </div>
        <div class="swiper-slide slider__slide-wrap slider__slide-podcast">
          @include('_podcast-item.html',{
          'name': "Чай с психологом",
          'discr': 'Пью согревающий чай и общаюсь с интересными людьми на разные психологические темы. Говорю о
          страхах.'
          })
        </div>
        <div class="swiper-slide slider__slide-wrap slider__slide-podcast">
          @include('_podcast-item.html',{
          'name': "Чай с психологом",
          'discr': 'Пью согревающий чай и общаюсь с интересными людьми на разные психологические темы. Говорю о
          страхах.'
          })
        </div>
        <div class="swiper-slide slider__slide-wrap slider__slide-podcast">
          @include('_podcast-item.html',{
          'name': "Чай с психологом",
          'discr': 'Пью согревающий чай и общаюсь с интересными людьми на разные психологические темы. Говорю о
          страхах.'
          })
        </div>
        <div class="swiper-slide slider__slide-wrap slider__slide-podcast">
          @include('_podcast-item.html',{
          'name': "Чай с психологом",
          'discr': 'Пью согревающий чай и общаюсь с интересными людьми на разные психологические темы. Говорю о
          страхах.'
          })
        </div>
        <div class="swiper-slide slider__slide-wrap slider__slide-podcast">
          @include('_podcast-item.html',{
          'name': "Чай с психологом",
          'discr': 'Пью согревающий чай и общаюсь с интересными людьми на разные психологические темы. Говорю о
          страхах.'
          })
        </div>
        <div class="swiper-slide slider__slide-wrap slider__slide-podcast">
          @include('_podcast-item.html',{
          'name': "Чай с психологом",
          'discr': 'Пью согревающий чай и общаюсь с интересными людьми на разные психологические темы. Говорю о
          страхах.'
          })
        </div>
        <div class="swiper-slide slider__slide-wrap  slider__slide-podcast">
          @include('_podcast-item.html',{
          'name': "Чай с психологом",
          'discr': 'Пью согревающий чай и общаюсь с интересными людьми на разные психологические темы. Говорю о
          страхах.'
          })
        </div>
        <div class="swiper-slide slider__slide-wrap slider__slide-podcast">
          @include('_podcast-item.html',{
          'name': "Чай с психологом",
          'discr': 'Пью согревающий чай и общаюсь с интересными людьми на разные психологические темы. Говорю о
          страхах.'
          })
        </div>
        <div class="swiper-slide slider__slide-wrap slider__slide-podcast">
          @include('_podcast-item.html',{
          'name': "Чай с психологом",
          'discr': 'Пью согревающий чай и общаюсь с интересными людьми на разные психологические темы. Говорю о
          страхах.'
          })
        </div>


      </div>

    </div>

  </div>

  <a class="main-item__more btn btn_2" href="#">
    Смотреть все
  </a>


</section>