<section class="main-item main-list">

  <div class="main-item__title-wrap">
    <div class="main-item__title-left">
      <div class="main-item__title title">
        @title
      </div>
      <div class="main-item__subtitle subtitle">
        @subtitle
      </div>
    </div>
  </div>

  <ul class="main-list__list _playlist">
    <li class="main-list__item">
      @include('_playlist-item.html',{'name': "Чай с психологом"})
    </li>
    <li class="main-list__item">
      @include('_playlist-item.html',{'name': "Чай с психологом"})
    </li>
    <li class="main-list__item">
      @include('_playlist-item.html',{'name': "Чай с психологом"})
    </li>
    <li class="main-list__item">
      @include('_playlist-item.html',{'name': "Чай с психологом"})
    </li>
    <li class="main-list__item">
      @include('_playlist-item.html',{'name': "Чай с психологом"})
    </li>
    <li class="main-list__item">
      @include('_playlist-item.html',{'name': "Чай с психологом"})
    </li>

  </ul>

</section>