<section class="main-item main-list">

  <div class="main-item__title-wrap">
    <div class="main-item__title-left">
      <div class="main-item__title title">
        @title
      </div>
      <div class="main-item__subtitle subtitle">
        @subtitle
      </div>
    </div>
    <a class="main-item__title-more" href="#">
      <span>Смотреть все</span>
      <img class="main-item__title-more-icon" src="images/icon/arrow-down-s-line.svg" alt="arrow-down-s-line" width="24"
        height="24">
    </a>
  </div>

  <ul class="main-list__list">
    <li class="main-list__item">
      <a class="slider__slide episodes-item podcast-item" href="#">
        <div class="podcast-item__img-wrap">
          <img class="podcast-item__img" src="images/image/2.jpg" alt="image">
        </div>
        <div class="podcast-item__name">
          Чай с психологом
        </div>
        <div class="podcast-item__discr">
          Пью согревающий чай и общаюсь с интересными людьми на разные психологические темы. Говорю о страхах.
        </div>
      </a>
    </li>
    <li class="main-list__item">
      <a class="slider__slide episodes-item podcast-item" href="#">
        <div class="podcast-item__img-wrap">
          <img class="podcast-item__img" src="images/image/2.jpg" alt="image">
        </div>
        <div class="podcast-item__name">
          Чай с психологом
        </div>
        <div class="podcast-item__discr">
          Пью согревающий чай и общаюсь с интересными людьми на разные психологические темы. Говорю о страхах.
        </div>
      </a>
    </li>
    <li class="main-list__item">
      <a class="slider__slide episodes-item podcast-item" href="#">
        <div class="podcast-item__img-wrap">
          <img class="podcast-item__img" src="images/image/2.jpg" alt="image">
        </div>
        <div class="podcast-item__name">
          Чай с психологом
        </div>
        <div class="podcast-item__discr">
          Пью согревающий чай и общаюсь с интересными людьми на разные психологические темы. Говорю о страхах.
        </div>
      </a>
    </li>
    <li class="main-list__item">
      <a class="slider__slide episodes-item podcast-item" href="#">
        <div class="podcast-item__img-wrap">
          <img class="podcast-item__img" src="images/image/2.jpg" alt="image">
        </div>
        <div class="podcast-item__name">
          Чай с психологом
        </div>
        <div class="podcast-item__discr">
          Пью согревающий чай и общаюсь с интересными людьми на разные психологические темы. Говорю о страхах.
        </div>
      </a>
    </li>
    <li class="main-list__item">
      <a class="slider__slide episodes-item podcast-item" href="#">
        <div class="podcast-item__img-wrap">
          <img class="podcast-item__img" src="images/image/2.jpg" alt="image">
        </div>
        <div class="podcast-item__name">
          Чай с психологом
        </div>
        <div class="podcast-item__discr">
          Пью согревающий чай и общаюсь с интересными людьми на разные психологические темы. Говорю о страхах.
        </div>
      </a>
    </li>
  </ul>
  <a class="main-item__more btn btn_2" href="#">
    Смотреть все
  </a>


</section>