.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  padding: 20px 0;
  z-index: 20;
  background-color: $bg-dark;

  @include adpt ($bmob-r) {
    padding: 15px 0;
    border-bottom: 2px solid $bg-dark-l;
  }

  &__inner {
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &__right-wrap {
    flex: 1;
    justify-content: space-between;
    align-items: center;
    display: flex;

    @include adpt ($stab-r) {
      justify-content: flex-end;
    }
  }

  &__logo {
    max-width: 151px;

    @include adpt ($bmob-r) {
      max-width: 128px;
    }
  }

  &__unAuth {
    display: flex;

    @include adpt ($tab-r) {
      display: none;
    }
  }

  &__btn {
    @include adpt ($tab-r) {
      width: 100%;
      font-size: 14px;
      padding: 8px;
      text-align-last: left;
      border: none;
    }

    &:not(:last-child) {
      margin-right: 10px;

      @include adpt ($tab-r) {
        margin-right: 0;
      }
    }
  }

  &__auth {
    position: relative;
    display: flex;
    align-items: center;

    @include adpt ($tab-r) {
      display: none;
    }
  }

  &__auth-bottom {
    position: absolute;
    top: calc(100% + 20px);
    width: 191px;
    right: 0;
    background-color: $bg-dark-l;
    border-radius: $br-midl;
    border: 1px solid rgba(255, 255, 255, 0.4);
    padding: 15px;
    box-shadow: 0 2px 10px rgba(255, 255, 255, 0.05);
    transition: all 0.3s ease;
    opacity: 0;
    pointer-events: none;
    transform: translateY(10px);

    @include adpt ($tab-r) {
      position: static;
      display: none;
      box-shadow: none;
      border: none;
      padding: 0;
      width: auto;
      background-color: transparent;
      opacity: 1;
      pointer-events: all;
      transform: translateY(0);
      top: 0;
      padding-top: 15px;
    }

    &._open {
      opacity: 1;
      pointer-events: all;
      transform: translateY(0);

      @include adpt ($tab-r) {
        display: block;
      }
    }
  }

  &__auth-item {
    &:not(:last-child) {
      margin-bottom: 4px;
    }
  }

  &__auth-link {
    display: flex;
    align-items: center;
    border-radius: $br-small;
    font-size: 14px;
    line-height: 1.2;
    padding: 8px;
    transition: background-color 0.3s;

    &:hover {
      background-color: $bg-dark;

      @include adpt ($tab-r) {
        background-color: $bg-dark-l;
      }
    }
  }

  &__auth-link-img {
    margin-right: 8px;
  }

  &__auth-top {
    display: flex;
    align-items: center;
    cursor: pointer;

    @include adpt ($tab-r) {
      width: 100%;
    }
  }

  &__auth-img {
    width: 36px;
    height: 36px;
    border-radius: 50%;
    margin-right: 15px;

    @include adpt ($tab-r) {
      width: 30px;
      height: 30px;
    }
  }

  &__auth-name {
    position: relative;
    padding-right: 20px;
    font-size: 14px;
    font-weight: 300;

    @include adpt ($tab-r) {
      width: 100%;
    }

    &::after {
      content: "";
      position: absolute;
      width: 18px;
      height: 18px;
      background-image: url('../images/icon/arrow-down-s-line.svg');
      background-size: contain;
      background-position: center;
      background-repeat: no-repeat;
      right: 0;
      top: 50%;
      transform: translateY(-50%);
    }
  }

  &__burger {
    display: none;

    @include adpt ($tab-r) {
      display: block;
      padding-right: 0;
    }
  }
}