.podcast-item {
  max-width: 168px;
  line-height: 1.3;
  cursor: pointer;
  @include adpt ($bmob-r){
    max-width: 140px;
    padding: 8px;
    border-radius: $br-midl;
    background-color: $bg-dark-l;
  }

  &:hover {
    & .podcast-item__img {
      transform: scale(1.1);
    }
  }

  &__img-wrap {
    position: relative;
    overflow: hidden;
    border-radius: $br-midl;
    margin-bottom: 8px;
  }

  &__img {
    aspect-ratio: 1/1;
    width: 100%;
    height: auto;
    transition: all 0.3s;
  }

  &__name {
    font-size: 14px;
    font-weight: 500;
    margin-bottom: 5px;
    line-height: 1.2;
    -webkit-line-clamp: 2;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    overflow: hidden;
  }

  &__discr {
    color: $grey;
    opacity: 0.8;
    font-size: 12px;
    -webkit-line-clamp: 2;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    overflow: hidden;
  }
}