.slider {

  &__slide-podcast {
    max-width: 168px;

    @include adpt ($bmob-r) {
      max-width: 140px;
    }
  }

  &__slide-playlist {
    max-width: 320px;

    @include adpt ($bmob-r) {
      max-width: 300px;
    }
  }
  
}